@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

body{
  font-family: 'Noto Sans', 'Helvetica';
  /*background: darken(#04B486, 30%);*/
}

.customAlert{
  display: none;
  position: fixed;
  max-width: 25%;
  min-width: 25% !important;
  min-height: 20%;
  height: 200px;
  left: 50%;
  top: 50%;
  padding: 10px;
  box-sizing: border-box;
  margin-left: -12.5%;
  margin-top: -5.2%;
  background: floralwhite;
  opacity: .9;
  border-radius: 2%;
  z-index: 100;
}


@media all and (max-width: 1300px){
    .message{
      font-size: 14px !important;
    }
    input[type='button']{
      height: 15% !important;
    }
  }



.message{
    padding: 5px;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    border-radius: 2%;
  }


input[type='button']{
    position: absolute;
    top: 100%;
    left: 50%;
    width: 50%;
    height: 36px;
    margin-top: -45px;
    margin-left: -25%;
    outline: 0;
    border: 0;
    background: #a0d9a2;
    color: white;
    transition: 0.3s;
  } 


  input[type='button']:hover{
        cursor: pointer;
        background: #80bf82;  
      }
      
@keyframes fadeOut{
  from{
    opacity: 1;
  } 
  to{
    opacity: 0;
  }
}
    
@keyframes fadeIn{
  from{
    opacity: 0;
  } 
  to{
    opacity: 1;
  }
}