body{
  margin-top: 150px;
  background-color: #a0d9a2;
  /*background-repeat: no-repeat;*/
}

#table-base{
  margin: auto;
  width: 500px;
  height: 350px;
  background-image: url(img/woodgrain_small.jpg);
  border-radius: 2%;
  -webkit-box-shadow: 10px 10px 7px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 10px 10px 7px 0px rgba(0,0,0,0.5);
  box-shadow: 10px 10px 7px 0px rgba(0,0,0,0.5);
}

#platter{
  border-radius: 100%;
  position: absolute;
  background-image: url(img/transparent-texture.png), url(img/nasa_platter.png);
  height: 340px;
  width: 340px;
  margin-left: 50px;
  margin-top: 5px;
  -webkit-box-shadow: 10px 10px 7px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 10px 10px 7px 0px rgba(0,0,0,0.5);
  box-shadow: 10px 10px 7px 0px rgba(0,0,0,0.5);
}

#tone-arm{
  position: absolute;
  height: 450px;
  margin-left: 395px;
  margin-top: -125px;
  transform: rotate(20deg);
}

#spindle{
  margin: auto;
  margin-top: 50%;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background: radial-gradient(silver, black);
}